.table {
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #d28f7d80;
    height: auto;
    font-size: 16px;
    list-style: none;
    margin: 10px;
     

    .nom {
        
        font-size: 20px;
    }
    .date {
        width: 50%;
        text-align: center;
    }
}